* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(28, 28, 35);
    transition: background-color 0.4s ease;
}

.content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 3px #fff;
    width: 120px;
    height: 100px;
    margin: 20px;
    text-transform: capitalize;
}

.purple {
    background: purple;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.teal {
    background: teal;
}